<!DOCTYPE html>
<html>
  <head>
    <title>Google Maps JavaScript API v3 Example: Places Autocomplete</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"></script>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </head>
  <style>
  .places {
    display: block;
  }
  </style>
  <body>
    <div id="listofelements">
      <label for="source">Your Location:</label>
      <br>
      <input class="places source" id="source" name="source" type="text" size="50">
      <br>
      <label for="waypoint1">Destinations:</label>
      <br>
      <input class="places waypoint" id="waypoint1" name="waypoint1" type="text" size="50">
    </div>
    <br>
    <button onclick="addbox()">Add Location</button>
    <br>
    <button onclick="send()">Get Route</button>
  </body>
  <script type="text/javascript">
  var waypoints;
    function initialize() {
      var input = document.getElementById('source');
      var input2 = document.getElementById('waypoint1');
      waypoints = 1;
      var options = {componentRestrictions: {country: 'in'}};
      new google.maps.places.Autocomplete(input, options);
      new google.maps.places.Autocomplete(input2, options);
    }
    google.maps.event.addDomListener(window, 'load', initialize);
    function addbox() {
      var element = document.createElement("input");
      element.setAttribute("type", "text");
      element.setAttribute("size", "50");
      element.setAttribute("class", "places waypoint");
      element.setAttribute("name", "waypoint"+waypoints);
      ++waypoints;
      var foo = document.getElementById("listofelements");
      foo.appendChild(element);      
      var options = {componentRestrictions: {country: 'in'}};
      new google.maps.places.Autocomplete(element, options);

    }
    function send() {
      var source = $('.source').val();
      var waypoints = $('.waypoint').map( function(){return $(this).val(); }).get();
      params = $.param({source:source,waypoints:waypoints})
      console.log("map?"+params);
    }
  </script>


</html>
